<div class="resDisplay">
    <ng-container *ngIf="completed; else notCompleted">
        <h1>Результаты теста '{{displayName | async}}': {{correctNum}} из {{totalNum}}</h1>
        <h2>
            {{correctNum >= totalNum / 2 ?  successText :  failText }}
        </h2>
    </ng-container>
    <ng-template #notCompleted>
        <p>Нельзя посмотреть результат, не пройдя тест. Ай-ай!</p>
        <a mat-raised-button color="accent" [routerLink]="['/questionnaire', testName]">Пройти тест '{{displayName | async}}'</a>
    </ng-template>
</div>

<a class="fabHomeBtn" mat-fab color="primary" title="Домоюшки" aria-label="Home page button" routerLink="/">
    <mat-icon>home</mat-icon>
</a>
