<div class="testBody">
    <h1>Тест '{{displayName | async}}'</h1>
    <button *ngIf="questionNumber < 0; else questionWrapper" mat-flat-button color="accent" (click)="onTestStart()">Начать</button>
    <ng-template #questionWrapper>
        <h1>Вопрос №{{questionNumber + 1}}</h1>
        <app-question 
            [text]="(qData | async)?.text" 
            [options]="(qData | async)?.options" 
            [correctIndex]="(qData | async)?.correctIndex"
            [type]="(qData | async)?.type"
            [dataLink]="(qData | async)?.dataLink"
            [infoCorrect]="(qData | async).infoCorrect"
            [infoWrong]="(qData | async).infoWrong" 
            (next)="onNextQuestion($event)"
        >
        </app-question>
    </ng-template>
</div>

<a class="fabHomeBtn bottomRight" mat-fab color="primary" title="Домоюшки" aria-label="Home page button" routerLink="/">
    <mat-icon>home</mat-icon>
</a>