<div class="startingPage">
    <header>
        <h1> {{welcomeText}} </h1>
    </header>
    
    <section>
        <div *ngFor="let test of testIndexData | async">
            <a mat-raised-button routerLink="/questionnaire/{{test.name}}">{{test.title}}</a>
        </div>
    </section>
</div>