:host {
    height: 100%;
    width: 100%;
}

.startingPage {
    min-width: 250px;
    width: 50vw;
    max-height: 75vh;
    margin: 10vh auto;
    text-align: center;

    section {
        div + div {
            margin-top: 1em;
        }

        div {
            &, & > a {
                width: 100%;
            }
        }
    }
}