.questionWrapper {
    width: 50vw;
    min-width: 250px;

    .optionWrapper {
        margin: auto;
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 75%;
        max-height: 50vh;
    }

    .infoContainer {
        margin: 0.5em auto;
    }
    
    mat-radio-button {
        display: block;
    }

    mat-radio-button + mat-radio-button {
        margin-top: 0.5em;
    }
    
    .btnContainer {
        width: 100%;
        text-align: center;
    }
}