<section class="questionWrapper">
    <div>
        <h1>{{text}}</h1>
        <ng-container [ngSwitch]="type">
            <ng-template ngSwitchCase="img">
                <img *ngIf="dataLink" [src]="dataLink">
            </ng-template>
            <ng-template ngSwitchCase="audio">
                <figure>
                    <audio controls [src]="dataLink" type="audio/mp3"> </audio>
                </figure>
            </ng-template>
        </ng-container>
        <mat-radio-group [(ngModel)]="selectedOption" [disabled]="isConfirmed">
            <div class="optionWrapper" *ngFor="let option of options; index as i;">
                <mat-radio-button [value]="i">{{option}}</mat-radio-button>
                <mat-icon *ngIf="isConfirmed">{{correctIndex.includes(i) ? 'check' : 'clear'}}</mat-icon>
            </div>
        </mat-radio-group>
    </div>
    <div *ngIf="isConfirmed" class="infoContainer">
        {{result ? infoCorrect : infoWrong}}
    </div>
    <div class="btnContainer">
        <button mat-icon-button color="primary" (click)="onNextQuestionClick()" [disabled]="selectedOption == -1">
            <mat-icon>{{isConfirmed ? 'arrow_forward' : 'done_all'}}</mat-icon>
        </button>
    </div>
</section>
