/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }

.fabHomeBtn {
    &.bottomRight {
        position: absolute;
        bottom:5vh;
        right: 5vw;
    }
}